.imageView {
	-fx-cursor: pointer;
}

.imageView:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.5 , 0 , 0 );
}


.checkoutMain .header Label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-color: #FFFFFF;
}

#cancelButton {
	-fx-color: #FFFFFF;
}