.imageView {
	-fx-cursor: pointer;
}

.imageView:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.5 , 0 , 0 );
}

.checkoutMain .header Label {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-color: #FFFFFF;
}

#cancelButton {
	-fx-color: #FFFFFF;
}

Button.orangeButton {
	-fx-background-color: #F8B12C;
	-fx-text-fill: #FFFFFF;
}
Button.redButton {
	-fx-background-color: #FF241C;
	-fx-text-fill: #FFFFFF;
}
Button.blueButton {
	-fx-background-color: #2C9BEB;
	-fx-text-fill: #FFFFFF;
}
Button.greenButton {
	-fx-background-color: #76C525;
	-fx-text-fill: #FFFFFF;
}
Button.navyButton {
	-fx-background-color: #3C5B9A;
	-fx-text-fill: #FFFFFF;
}

Label.errorInfo {
	-fx-text-fill: #FF241C;
}
Label.successInfo {
	-fx-text-fill: #76C525;
}

Label.title {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #3C5B9A;
}