.configMain {
	-fx-text-fill: #FFFFFF;
}

	.configMain TabPane .tabs {
		-fx-background-color: #3C5B9A;
		-fx-font-weight: bold;
	}
	.configMain TabPane .tabs:selected {
		-fx-background-color: #2C9BEB;
	}
	
	.configMain TabPane .tabs Button {
		-fx-font-weight: bold;
	}
	
		.configMain TabPane .tabs #userListPane {
		}
			.configMain TabPane .tabs #userListPane ListView {
				-fx-font-weight: bold;
				-fx-font-size: 14px;
			}
	
			.configMain TabPane .tabs Label {
				-fx-font-weight: bold;
				-fx-font-size: 14px;
				-fx-text-fill: #FFFFFF;
			}
			.configMain AnchorPane Label {
				-fx-font-weight: bold;
				-fx-font-size: 14px;
			}
		
	.configMain TabPane .tabs #shortcutPricePane {
	}
	
		.configMain TabPane .tabs #shortcutPricePane ListView {
			-fx-font-weight: bold;
			-fx-text-transform: capitalize;
		}
